body {
    padding: 0 15vw 0 15vw;

    form {
        display: flex;
        flex-direction: column;     

    input {
        height: 25px;
    }

    label {
    font-weight: bold;
    }

    button {
        background-color: #BF0A30;
        color: black;
        border: 2px solid yellow;
        outline: none;
        height: 40px;
        width: 10vw;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
        }
      }
      }
  }
  
  
 
  
  